flask
flask-cors
opencv-python
dlib
numpy
pillow

ที่ต้องโหลดเพิ่ม:
- CMake
- Visual Studio 2022

วิธีใช้งาน run web server:
**run backend: python app.py**
**run frontend: python -m http.server 5500** เข้าหน้าเว็บที่ http://localhost:5500